html {
    background: url("./Drumkit.png") bottom center;
    background-size: cover;
}

.keys {
    display: flex;
    min-height: 105vh;
    align-items: center;
    justify-content: center;
}

.key {
    color: white;
    text-align: center;
    background: rgb(5, 5, 5, 0.5);
    border: .3rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    font-size: 1.5rem;
    width: 5rem;
    text-align: center;
    transition: all .07s ease;

}

kbd {
    display: block;
    font-size: 2rem;
}

span {
    color: rgb(255, 208, 0);
    font-size: 0.75rem;
}

.playing {
    transform: scale(1.2);
    border: .4rem solid rgb(255, 208, 0);
}

